.edit-product-page {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-product-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-form input,
.product-form button {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.product-form input:focus,
.product-form button:focus {
  border-color: #007BFF;
}

.product-form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-form button:hover {
  background-color: #218838;
}

.product-form fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.product-form legend {
  font-weight: bold;
  color: #333;
}

.product-form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-form label input {
  width: 60px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}

.product-form input::placeholder {
  color: #999;
}
